html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 1rem;
  background: radial-gradient(72.72% 167.91% at 50% 50%, #B70000 0%, #430000 77.47%);
  color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px 10px;
}




footer {
  margin-top: auto;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
